@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app {
  font-family: sans-serif;
  display: flex;
  flex: 1;
  overflow: hidden;
}

.content {
  display: flex;
  flex: 1;
  background-color: #1A2A6C;
}

.sidebar {
  width: 250px;
  border-right: 1px solid black;
  background-color: #1E1E1E;
  position: relative;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.sidebar-field {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 50px;
  width: 250px;
  cursor: pointer;
  user-select: none;
}

.sidebar-field.overlay {
  background: black;
  color: white;
}

.canvas {
  flex: 1;
  border: 1px solid black;
  margin: 50px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow-y: auto;
  background-color: #1E1E1E;
  position: relative;
}

.canvas-field {
  
}

.canvas-field.overlay {
  opacity: 0.5;
}

.canvas-field > * {
  width: 100%;
  pointer-events: none;
}

.trash {
  position: absolute;
  top: 0;
  right: 0;
}

.spacer {
  background: black;
  width: 5rem;
  opacity: 0.25;
  height: 3.25rem;
  padding: 0.75rem;
  border-radius: 0.5rem
}

.tag {
  margin: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 6px;
  background: #3b91ca;
  color: #fff;
  border-radius: 50px;
  min-width: 1.5rem;
  text-align: justify;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 1.5rem;
  cursor: pointer;
  user-select: none; 
}

.tag-spacer {
  background: #1E1E1E;
}


}